apiVersion: apps/v1
kind: Deployment
metadata:
  name: chroma
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chroma
  template:
    metadata:
      labels:
        app: chroma
    spec:
      enableServiceLinks: false
      containers:
        - name: chroma
          image: chromadb/chroma:latest
          ports:
            - containerPort: 8000
              name: http
            - containerPort: 50051
              name: grpc
          env:
            - name: CHROMA_SERVER_HOST
              value: "0.0.0.0"
            - name: CHROMA_SERVER_HTTP_PORT
              value: "8000"
            - name: CHROMA_SERVER_GRPC_PORT
              value: "50051"
          volumeMounts:
            - name: chroma-data
              mountPath: /data
      volumes:
        - name: chroma-data
          emptyDir: {}
