version: "3.9"

services:
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: fastapi_app
    ports:
      - "8001:8001"
    depends_on:
      - redis
      - chroma
    environment:
      CHROMA_API_IMPL: "rest"
      CHROMA_SERVER_HOST: "chroma"
      CHROMA_SERVER_PORT: 8000
      REDIS_HOST: "redis"
      REDIS_PORT: 6379
    command: uvicorn src.api.main:app --host 0.0.0.0 --port 8001
    volumes:
    - ../:/app

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"

  chroma:
    image: chromadb/chroma:latest
    container_name: chroma
    ports:
      - "8000:8000"
    environment:
      CHROMA_DB_IMPL: "duckdb+parquet"
      CHROMA_SERVER_AUTH_ENABLED: "false"
    volumes:
    - data/chroma_db:/data

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ../src/config/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
